*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 120vh;
    width: 100%;
    background-color:#AC776F ;
}
nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    margin-right: 120px;
}
li{
    cursor: pointer;
}
.mainHeader{
    width: 100%;
    height: 100%;
    display:flex;
}
.rightSide{
    width:25vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftSide{
    width: 25vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.centerSide{
    width: 50vw;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    color:white;
    font-size: 100px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
}
.descriptionH1{
    color: #FFFFFF;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center; 
}
.circle{
    background-color: white;
    width: 700px;
    height: 700px;
    border-radius: 100%;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cat1{
    width: 700px;
    height: 850px;
}
.ad1{
    display: flex;
}
.ad1Comment{
    color: #FFFFFF;
    font-size: 40px;
    font-family: sans-serif;
}
#quote1{
    position: relative;
    bottom:20px;
}
.ad2{
    display: flex;
    margin-bottom: 300px;
}
.descriptionProject{
    width: 100%;
    height: 70vh;
    display: flex;
}
.leftSideDescriptionProject{
    width: 30vw;
    height: 100%;
}
.cat2{
    width: 100%;
    height: 100%;
}
.rightSideDescriptionProject{
    width: 70vw;
    height: 100%;
    background-color: aliceblue;
}